/* This file is for your main application css. */

@import "./phoenix.css";

* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

#cli-pane {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  min-width: 500px;
  max-width: 500px;
  left: 40px;
  height: 100%;  
}

.cli-box {
  padding: 10px;
  overflow-y: scroll;
  background-color: #000000;
  height: 500px;
  width: 500px;
  box-shadow: 0px 0px 12px 16px rgba(112,112,112,0.7);
  opacity: 0.75;
}

.client-eval {
  color: #aa4;
}

.cli-message {
  color: #fff;
}

.server-message {
  color: #299;
}

.error-message {
    color: #a22;
}

.world-message {
    color: #9bb;
  }

.cli-input {
  color: #2a2;
}

#chat-input {
  background-color: #000000;
  color: #c94;
  font-size: 2em;
  box-shadow: 0px 0px 12px 16px rgba(112,112,112,0.7);
}

#viz-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#viz-container canvas{
  width: 100%;
  height: 100%;
}

#perf-info {
  color: #cc7;
  height: 300px;
  margin: 40px;
  font-size: 1.2em;
}

#perf-info b {
  font-size: 1.4em;
}

#perf-info table, #perf-info td, #perf-info tr {
  border: none;
  padding: 2px;
}