/* This file is for your main application css. */

@import "./phoenix.css";

#cli-pane {
  min-width: 500px;
  max-width: 500px;
  margin: 20px;
  height: 600px;
}

.cli-box {
  padding: 10px;
  overflow-y: scroll;
  background-color: #000000;
  height: 500px;
}

.client-eval {
  color: #aa4;
}

.cli-message {
  color: #fff;
}

.server-message {
  color: #299;
}

.error-message {
    color: #a22;
}

.world-message {
    color: #9bb;
  }

.cli-input {
  color: #2a2;
}

#main-pane {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
}

#viz-container {
  min-width: 700px;
  max-width: 700px;
  min-height: 700px;
  max-height: 700px;
  margin: 20px;
}